body{
    background: linear-gradient(to right, #e2edff, #dcdcdc, #e2edff);
}
.wrap{
    width: 40%;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family:  Calibri;
    background-color: #008B8B;
}
.container{
    padding: 5px;
    margin: 10%;
}

h1{
    text-align: center;
}

table{
    margin: auto;
    padding-bottom: 5px;
}

table td{
    padding: 5px;
}

button{
    width: 50px;
    font-family: Calibri;
    background-color: #00ffff;
    border-radius: 7px;
}